body {
    font-family: 'Archivo', sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
button {
    font-family: 'Archivo', sans-serif;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    transition: all 0.15s;
}

.main {
    width: 1000px;
    margin: auto;
}

/* Navbar */
.logo {
    margin: 15px 0 0 0;
}
.navbar {
    margin: 0 2.5%;
    width: 95%;
    height: 50px;
    background-color: #222931;
}
.icon-down-point {
    mask-size: cover;
    display: inline-block;
    background-image: url(../icons/angle-down-solid.svg);
    filter: invert(100%);
    background-size: cover;
    width: 10px;
    height: 12px;
}
.navbar>ul {
    height: 50px;
}
.navbar>ul>li {
    transition: all 0.15s;
    margin: 0;
    display: inline-block;
}
.navbar>ul>li>button {
    font-size: 12px;
    border: none;
    color: inherit;
    background-color: inherit;
    height: 50px;
}
.navbar>ul>li:hover {
    background-color: #ffe718;
}

/* Dropdown menu */
.dropdown {
    position: relative;
    display: inline-block;
}
.drop {
    font-size: 12px;
    border: none;
    height: 100%;
    background-color: #222931;
}
.dropContent {
    position: absolute;
    display: none;
    background-color: #222931;
}
.dropContent>button {
    height: 26px;
    border: none;
    background-color: inherit;
    width: 100%;
    color: #FFFFFF;
}
.dropdown:hover .dropContent {
    font-size: 16px;
    background-color: #222931;
    display: block;
}
.dropdown:hover>.dropcontent>button:hover {
    background-color: #ffe718;
}
.dropdown:hover .drop {
    background-color: #ffe718;
}

/* images */
.large1 {
    z-index: -5;
    top: 75px;
    position: absolute;
    width: 100%;
    height: 415px;
    left: 0;
}
.large2 {
    z-index: -5;
    top: 1000px;
    position: absolute;
    width: 100%;
    height: 220px;
    left: 0;
}
.small {
    position: relative;
    top: 448px;
}
.small>img {
    margin: 0 15px;
    width: 300px;
}
.small>button {
    font-size: 32px;
    line-height: 24px;
    font-weight: 600;
    position: absolute;
    width: 300px;
    height: 220px;
    color: #FFFFFF00;
    background-color: #00000000;
    padding: 0;
    margin: 0 15px;
}
.small>button:hover {
    background-color: #00000080;
    color: #FFFFFFFF;
}

/* Yellow bar */
.yellowBar {
    position: absolute;
    display: inline-flex;
    background-color: #ffe718;
    height: 140px;
    width: 100%;
    left: 0;
    top: 830px;
    color: #000000;
    margin: 0 0 50px 0;
}
.yellowBar>button {
    position: absolute;
    left: 1000px;
    bottom: 50px;
    background-color: #FFFFFF;
    height: 40px;
    margin: auto 0 auto 10%;
    font-size: 12px;
    line-height: 24px;
    font-weight: 500;
    color: #000000;
}
.yellowBar>button:hover {
    background-color: #222931;
    color: #FFFFFF;
}
.yellowBar>h1 {
    position: absolute;
    bottom: 60px;
    font-size: 34px;
    line-height: 24px;
    font-weight: 700;
    width: 400px;
    margin: auto 0 auto 20%;
}
.yellowBar>p {
    position: absolute;
    bottom: 54px;
    left: 700px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    width: 200px;
    margin: auto 10px;
}

/* Second nav bar */
.navbar2 {
    z-index: -10;
    position: absolute;
    top: 1170px;
}
.navbar2>button {
    background-color: #ffe718;
    text-align: left;
    color: #000000;
    margin: 0 15px;
    width: 300px;
    height: 100px;
}
.navbar2>button:hover {
    background-color: #222931;
    color: #FFFFFF;
}
.navbar2>button:hover>img {
    filter: invert(100%);
}
.navbar2>button>img {
    float: left;
    margin:  18px 12px;
    width: 64px;
    height: 64px;
}
.navbar2>button>h2 {
    font-size: 22px;
    line-height: 24px;
    font-weight: 600;
    align-content: initial;
}
.navbar2>button>p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
}
.navbar2>:nth-child(2)>img {
    float: left;
    margin: 28px 12px;
    width: 44px;
    height: 44px;
}
.navbar2>:nth-child(3)>img {
    float: left;
    margin: 24px 12px;
    width: 52px;
    height: 52px;
}

/* Main text part */
.breakline {
    position: absolute;
    top: 1350px;
    width: 1000px;
    height: 0.0001px;
}
.main-text {
    position: absolute;
    top: 1400px;
    color: #000000;
    width: 1000px;
    display: flex;
}
.main-text>:nth-child(1) { 
    width: 600px;
}
.main-text>:nth-child(1)>h2 {
    font-size: 34px;
    line-height: 18px;
    font-weight: 600;
}
.main-text>:nth-child(2) { 
    width: 400px;
}
.main-text>div>ul>li>p {
    position: absolute;
    text-align: left;
    display: inline-block;
    width: 15%;
    height: 80px;
    margin:  20px;
}
.main-text>div>ul>:nth-child(2)>p {
    position: absolute;
    text-align: left;
    display: inline-block;
    width: 15%;
    height: 80px;
    margin:  30px 20px;
}
.main-text>div>ul>:nth-child(3)>p {
    position: absolute;
    text-align: left;
    display: inline-block;
    width: 20%;
    height: 80px;
    margin:  30px 20px;
}
.main-text>div>ul {
    list-style-type: none;
    height: 240px;
}
.main-text>div>ul>li {
    margin: 10px 0;
    width: 240px;
    height: 80px;
}
.icon-map-marker {
    background-image: url(../icons/map-marker-alt-solid.svg);
    mask-size: cover;
    display: inline-block;
    left: 0;
    filter: invert(50%);
    background-size: cover;
    width: 20px;
    height: 27px;
    margin: 26.5px 10px;
}
.icon-phone {
    background-image: url(../icons/mobile-alt-solid.svg);
    mask-size: cover;
    display: inline-block;
    left: 0;
    filter: invert(50%);
    background-size: cover;
    width: 20px;
    height: 32px;
    margin: 24px 10px;
}
.icon-mail {
    background-image: url(../icons/envelope-regular.svg);
    mask-size: cover;
    display: inline-block;
    left: 0;
    filter: invert(50%);
    background-size: cover;
    width: 32px;
    height: 28px;
    margin: 28px 5px;
}

/* footer */
.footer {
    background-color: #222931;
    width: 100%;
    height: 60px;
    left: 0;
    top: 1750px;
    position: absolute;
}
.footer>p {
    position: absolute;
    margin: 20px 40px;
    right: 40px;
}

/* Front text (services) */
.frontText {
    position: absolute;
    top: 500px;
    color: #000000;
    width: 1000px;
}
.frontText>h1 {
    font-size: 34px;
    line-height: 18px;
    font-weight: 600;    
}
.frontText>:nth-child(1) {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}

/* Nieuwbouw */
.DDNieuwbouw {
    position: absolute;
    left: 576px;
    top: 98px;
    width: 80px;
    height: 18px;
    background-color: #00000000;
    color: #00000000;
}
.DDNieuwbouwText {
    width: 300px;
    z-index: 100;
    background-color: #aeb6be00;
    color: #00000000;
}
.DDNieuwbouw:hover>p {
    background-color: #aeb6beFF;
    color: #000000FF;
}

/* Advies */
.DDAdvies {
    position: absolute;
    left: 820px;
    top: 265px;
    width: 55px;
    height: 18px;
    background-color: #00000000;
    color: #00000000;
}
.DDAdviesText {
    width: 300px;
    z-index: 180;
    background-color: #aeb6be00;
    color: #00000000;
}
.DDAdvies:hover>p {
    background-color: #aeb6beFF;
    color: #000000FF;
}

/* Regelgeving */
.DDRegelgeving {
    position: absolute;
    left: 408px;
    top: 290px;
    width: 80px;
    height: 18px;
    background-color: #000000FF;
    color: #00000000;
}
.DDRegelgevingText {
    width: 300px;
    z-index: 180;
    background-color: #aeb6be00;
    color: #00000000;
}
.DDRegelgeving:hover>p {
    background-color: #aeb6beFF;
    color: #000000FF;
}